body, html {
  padding: 50px;
  margin: 0;
  font-family: 'Segoe UI';
  background: #ddd;
}

.container {
  display: flex;
  width: 100px;
  border-radius: 6px;
  box-shadow: 1px 1px 10px 1px rgba(180, 180, 180, .2);
  background: white;
  overflow: hidden;
  transition: .3s;
}

.container .fa-twitter{
  padding: 17px;
  flex: 1;
}

.container .fa-facebook{
  padding: 17px;
  flex: 1;
}

.container i {
  transition: .3s;
}
.container i:hover{
  background:tomato;
  cursor: pointer;
  color: #ffffff;
}